<p>
  register works!
</p>

<div class="container">
    <h3><b>Register Form</b></h3>
  <div class=row>
 <div class="col-md-8">

<form [formGroup]="registerForm" (ngSubmit)="postdata(registerForm.value)">
  <div class="form-group">
     <label>FirstName</label>
     <input  class="form-control" type="text" formControlName="firstname" placeholder="Enter firstname">
     <div *ngIf="registerForm.controls['firstname'].touched && !registerForm.controls['firstname'].valid">  
        <span *ngIf="registerForm.controls['firstname'].hasError('required')">First Name is required  </span>   
    </div>  

  </div>

  <div class="form-group">
    <label>Last name</label>
    <input class="form-control" type="text" formControlName="lastname" placeholder="Enter lastname"   autocomplete="off">

      <div *ngIf="registerForm.controls['lastname'].touched && !registerForm.controls['lastname'].valid">
        <span *ngIf="registerForm.controls['lastname'].hasError('required')">lastname is required</span>
      </div>
  </div>


   <div class="form-group">
      <label>Mobilenumber</label>
      <input class="form-control" type="text" formControlName="mobile" placeholder="Enter mobile"   autocomplete="off">
  
      <div *ngIf="registerForm.controls['mobile'].touched && !registerForm.controls['mobile'].valid">
        <span *ngIf="registerForm.controls['mobile'].hasError('required')">Mobilenumber is required</span>
      </div>
   </div>

   <div class="form-check">
      <button  id="submit" name="submit" class="btn btn-primary pull-right" [disabled]="!registerForm.valid">Register</button>
   </div>
  </form>
  </div>
 </div>
</div>